.page {
  position: relative;
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.rec {
  position: absolute;
  font-family: var(--font-ibm);
  font-weight: var(--font-weight-normal);
  font-size: 18px;
  color: var(--accent-color);
}

.rec::before {
  display: block;
  position: relative;
  content: '';
  top: 16px;
  left: 43px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff0070;
  box-shadow: 0 0 4px 2px #ff0070;
}

.header {
  position: relative;
  block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  display: block;
  position: absolute; /* позиция указана для левого/правого эл-та в зависимости от разрешения */
  block-size: 25px;
  inline-size: 25px;
  content: '';
  border-inline-end: 1px solid var(--header-decor-color);
  border-block-start: 1px solid var(--header-decor-color);
}

.decorated-zone::after {
  display: block;
  position: absolute; /* позиция указана для левого/правого эл-та в зависимости от разрешения */
  block-size: 25px;
  inline-size: 25px;
  content: '';
  border-inline-start: 1px solid var(--header-decor-color);
  border-block-end: 1px solid var(--header-decor-color);
}

.header__theme-menu {
  display: flex;
}

.header__theme-menu-list {
  display: flex;
}

.header__theme-menu-button {
  min-inline-size: 70px;
  block-size: 26px;
  background-color: transparent;
  font-family: var(--font-ibm);
  font-weight: var(--font-weight-normal);
  font-size: 18px;
  letter-spacing: 0;
  text-align: center;
  color: var(--header-buttons-color);
  text-transform: lowercase;
  cursor: pointer;
  border: 1px solid transparent;
  line-height: 19px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-buttons-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--header-buttons-color-alpha);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--header-buttons-color);
  appearance: none;
  outline: none;
}

.header__title {
  color: var(--main-title-color);
  font-family: var(--font-ibm);
  font-weight: var(--font-weight-bold);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  display: flex;
  flex-direction: column;
  background-color: var(--accent-color);
  color: var(--header-text-color);
  font-family: var(--font-ibm);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 1.29;
}

.footer {
  position: relative;
  block-size: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  color: var(--main-title-color);
  font-family: var(--font-ibm);
  font-weight: var(--font-weight-bold);
  text-shadow: 2px 2px 0 var(--footer-title-shadow-color);
}

.section__title {
  font-family: var(--font-ibm);
  font-weight: var(--font-weight-bold);
  color: var(--section-title-color);
}

.block__title {
  color: var(--block-title-color);
  background-color: var(--block-title-background);
  font-family: var(--font-ibm);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  align-self: start;
}

.block__title-light {
  font-weight: var(--font-weight-normal);
}

.block__text {
  font-family: var(--font-ibm);
  font-weight: var(--font-weight-normal);
  color: var(--block-text-color);
}

.block__link {
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
}

.block__link:hover {
  border-block-end: 1px solid currentColor;
}

.block__link:focus-visible {
  outline: 1px solid var(--block-text-color);
}

.picture {
  display: block;
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 100%;
}

/* Resolution-specific parameters */

@media (width < 768px) {
  .rec {
    top: 3px;
    right: 37px;
  }

  .header {
    padding: 73px 10px 66px;
    min-block-size: 668px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .header__theme-menu {
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
  }

  .header__title {
    margin-block-start: 71px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 80%;
    letter-spacing: 0;
  }

  .header__text {
    margin-block-start: 57px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 81%;
  }

  .content {
    padding: 40px 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 50px;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .section__data {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .section__title {
    font-size: 18px;
    line-height: 23.4px;
  }

  .block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }

  .block.block-inner {
    gap: 20px;
  }

  .block__title {
    font-size: 18px;
    line-height: 23px;
  }

  .block__text {
    font-size: 18px;
    line-height: 23.4px;
  }

  .block__title-light {
    font-size: 18px;
    line-height: 23px;
  }

  .block__pictures {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .footer {
    min-block-size: 668px;
  }
}

@media (width >= 768px) {
  .rec {
    top: 13px;
    right: 47px;
  }

  .header {
    padding: 192px 20px 183px 0;
    min-block-size: 1024px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
  }

  .header__title {
    margin-block-start: 146px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    margin-block-start: 132px;
    max-width: calc((100% - 20px) / 2);
    margin-inline-start: auto;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content {
    padding: 60px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 80px;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .section__data {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .section__title {
    font-size: 18px;
    line-height: 23.4px;
    max-inline-size: 30vw;
  }

  .section.section-flow {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }

  .block.block-inner {
    gap: 20px;
  }

  .block__title {
    font-size: 18px;
    line-height: 23px;
  }

  .block__text {
    font-size: 18px;
    line-height: 23.4px;
  }

  .block__title-light {
    font-size: 18px;
    line-height: 23px;
  }

  .block-pictures {
    gap: 20px;
  }

  .block__pictures {
    list-style: none;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      'picture-1 picture-1 picture-2'
      'picture-3 picture-4 picture-2'
      'picture-3 picture-5 picture-5';
  }

  .picture__container {
    padding: 0;
    margin: 0;
  }

  .picture__container-1 {
    grid-area: picture-1;
    min-block-size: 192px;
  }

  .picture__container-2 {
    grid-area: picture-2;
    min-block-size: 442px;
  }

  .picture__container-3 {
    grid-area: picture-3;
    min-block-size: 568px;
  }

  .picture__container-4 {
    grid-area: picture-4;
    min-block-size: 230px;
  }

  .picture__container-5 {
    grid-area: picture-5;
    min-block-size: 318px;
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .rec {
    top: 13px;
    right: 47px;
  }

  .header {
    padding: 20px 20px 134px 0;
    min-block-size: 768px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

 .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    justify-content: center;
    padding-left: 19px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    margin-block-start: 236px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    margin-block-start: 77px;
    max-width: calc((100% - 20px) / 2);
    margin-inline-start: auto;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content {
    padding: 60px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 80px;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .section__data {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .section__title {
    font-size: 18px;
    line-height: 23.4px;
    max-inline-size: 30vw;
  }

  .section.section-flow {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .section__data.section__data-flow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    align-self: baseline;
  }

  .block.block-inner {
    gap: 20px;
  }

  .block__title {
    font-size: 18px;
    line-height: 23px;
  }

  .block__text {
    font-size: 18px;
    line-height: 23.4px;
  }

  .block-pictures {
    gap: 20px;
  }

  .block__pictures {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      'picture-1 picture-1 picture-2'
      'picture-3 picture-4 picture-2'
      'picture-3 picture-5 picture-5';
  }

  .picture__container-1 {
    grid-area: picture-1;
    min-block-size: 260px;
  }

  .picture__container-2 {
    grid-area: picture-2;
    min-block-size: 595px;
  }

  .picture__container-3 {
    grid-area: picture-3;
    min-block-size: 768px;
  }

  .picture__container-4 {
    grid-area: picture-4;
    min-block-size: 315px;
  }

  .picture__container-5 {
    grid-area: picture-5;
    min-block-size: 433px;
  }

  .footer {
    min-block-size: 768px;
  }
}
